@mixin input {
  border: 1.5px solid $border;
  padding: 0.8rem 0.5rem;
  border-radius: 2px;
  margin-top: 1rem;
  cursor: pointer;
  &:focus-within {
    border: 1.5px solid $active-border;
  }
}
@mixin dot {
  width: 20px;
  height: 20px;
  background: $border;
  border-radius: 50%;
}
@mixin label{
  color: $label-input;
  font-weight: 500;
  white-space: nowrap;
  min-width: 80px;
  font-size: 0.9em;
}
@mixin scrollbar{

}