$white : #fff;
$success-color : #16d998 ;
$primary-color : #2483b3;
//background
$bg-primary : #f2f2f2;
//text
$title-color : #797c8f;
$label-input : #2483b3;
$black-text : #29304f;
//border
$active-border : #7e8294 ;
$border : #e9e9e9;
//shadow
$shadow : rgba(0,0,0,0.16)