.gender{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  &__title{
    @include label;
  }
  &__toggle{
    display: flex;
    flex-direction: row-reverse;
    width: 180px;
    label{
      width: calc(100% /2);
      text-align: center;
      border : 1px solid $primary-color !important;
      color: $primary-color !important;
      &.radio-toggle-button{
        &.is-selected{
          color: $white !important;
          background-color: $primary-color !important;
          border-color: $primary-color !important;
        }
        font-size: 0.8em !important;
        font-weight: 500;
        padding: 6px 10px !important;
      }
    }
  }
}